:root{
    --pos-col: #8bde64;
    --neg-col: #e74c3c;
}



[data-theme="light"] {
    --bg-col: #bbb;
    --box-col: #aaa;
    --outl-col: #999;
    --item-col: #999;
    --text-col: #222;
}

[data-theme="dark"] {
    --bg-col: #1e1e1e;
    --box-col: #2c2c2c;
    --outl-col: #444;
    --item-col: #3a3a3a;
    --text-col: #fff;
}

[data-theme="contrast"] {
    --bg-col: #000;
    --box-col: #080808;
    --outl-col: #1d1d1d;
    --item-col: #101010;
    --text-col: #ddd;
}



[data-main-col="red"] {
    --main-hue: 0;
    --main-saturation: 85%;
    --main-lightness: 70%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="orange"] {
    --main-hue: 20;
    --main-saturation: 85%;
    --main-lightness: 65%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="yellow"] {
    --main-hue: 40;
    --main-saturation: 80%;
    --main-lightness: 60%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="green"] {
    --main-hue: 80;
    --main-saturation: 50%;
    --main-lightness: 50%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cyan"] {
    --main-hue: 180;
    --main-saturation: 50%;
    --main-lightness: 50%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="blue"] {
    --main-hue: 215;
    --main-saturation: 80%;
    --main-lightness: 65%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="deepblue"] {
    --main-hue: 245;
    --main-saturation: 80%;
    --main-lightness: 70%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="purple"] {
    --main-hue: 270;
    --main-saturation: 80%;
    --main-lightness: 70%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="pink"] {
    --main-hue: 315;
    --main-saturation: 70%;
    --main-lightness: 65%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="flamingo"] {
    --main-hue: 340;
    --main-saturation: 75%;
    --main-lightness: 70%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}



[data-main-col="cred"] {
    --main-hue: 0;
    --main-saturation: 85%;
    --main-lightness: 55%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="corange"] {
    --main-hue: 20;
    --main-saturation: 85%;
    --main-lightness: 50%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cyellow"] {
    --main-hue: 40;
    --main-saturation: 80%;
    --main-lightness: 45%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cgreen"] {
    --main-hue: 80;
    --main-saturation: 50%;
    --main-lightness: 35%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="ccyan"] {
    --main-hue: 180;
    --main-saturation: 50%;
    --main-lightness: 35%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cblue"] {
    --main-hue: 215;
    --main-saturation: 80%;
    --main-lightness: 50%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cdeepblue"] {
    --main-hue: 245;
    --main-saturation: 80%;
    --main-lightness: 55%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cpurple"] {
    --main-hue: 270;
    --main-saturation: 80%;
    --main-lightness: 55%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cpink"] {
    --main-hue: 315;
    --main-saturation: 70%;
    --main-lightness: 50%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}

[data-main-col="cflamingo"] {
    --main-hue: 340;
    --main-saturation: 75%;
    --main-lightness: 55%;

    --main-col: hsl(var(--main-hue), var(--main-saturation), var(--main-lightness));
    --main-col-hover: hsl(var(--main-hue), var(--main-saturation), calc(var(--main-lightness) + 10%));
}




[data-main-col="bronze"] {

    --main-col: linear-gradient(45deg, #895E1A, #B08D57, #9C7A3C, #895E1A, #804A00);
    --main-col-hover: linear-gradient(45deg, #b47c22, #c0a47a, #bc9650, #b47c22, #b36800);
}

[data-main-col="silver"] {

    --main-col: linear-gradient(45deg, #8E8D8D, #BEC0C2, #A1A2A3, #8E8D8D, #70706F);
    --main-col-hover: linear-gradient(45deg, #a7a7a7, #d8dadb, #bbbbbc, #a7a7a7, #898988);
}

[data-main-col="gold"] {

    --main-col: linear-gradient(45deg, #b48811, #e0bf78, #bb9b49, #b48811, #a2790d);
    --main-col-hover: linear-gradient(45deg, #e2ac15, #ead3a2, #c9af6e, #e2ac15, #d19b11);
}




[data-main-col="flower"] {

    --main-col: linear-gradient(to right, #FFD3A5, #FD6585);
    --main-col-hover: linear-gradient(to right, #ffecd8, #fe97ad);
}

[data-main-col="pricing"] {

    --main-col: linear-gradient(to right, #144a5f, #34e89e);
    --main-col-hover: linear-gradient(to right, #1d6a89, #62edb3);
}

[data-main-col="playful"] {

    --main-col: linear-gradient(to right, #12c2e9, #f64f59);
    --main-col-hover: linear-gradient(to right, #3ecff0, #f87f87);
}

[data-main-col="beachy"] {

    --main-col: linear-gradient(to right, #fccf31, #f55555);
    --main-col-hover: linear-gradient(to right, #fddb63, #f88585);
}

[data-main-col="breath"] {

    --main-col: linear-gradient(to right, #7f7fd5, #91eae4);
    --main-col-hover: linear-gradient(to right, #a6a6e2, #bcf2ef);
}

[data-main-col="earthly"] {

    --main-col: linear-gradient(to right, #3e5151, #decba4);
    --main-col-hover: linear-gradient(to right, #546e6e, #ece0c9);
}

[data-main-col="partly"] {

    --main-col: linear-gradient(to right, #333399, #ff00cc);
    --main-col-hover: linear-gradient(to right, #4040bf, #ff33d6);
}

[data-main-col="peaceful"] {

    --main-col: linear-gradient(to right, #31b7c2, #7bc393);
    --main-col-hover: linear-gradient(to right, #52c9d3, #9ed3b0);
}




body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-col);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, select, button, dialog{
    color: var(--text-col);
}

h1 {
    margin-top: 60px;
}

#theGrandStructure {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}



#leftSidebar{
    display: flex;
}

#colorButton{
    background-color: var(--box-col);
    border: 1px solid var(--outl-col);
    border-radius: 0px 8px 8px 0px;
    padding: 20px;
    font-size: 32px;
    height: 34px;
    width: 34px;
}

dialog{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: var(--bg-col);
    border: 1px solid var(--outl-col);
    width: 80%;
    height: 80%;
}

::backdrop{
    background-color: rgba(0, 0, 0, 0.75);
}

dialog button{
    position: absolute;
    top: 23px;
    right: 23px;
    padding: .5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#dialogGrid{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    text-align: center;
    gap: 50px;
}

.optionsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    height: auto;
}




.themeButton, .colorButton{
    width: 50px;
    height: 50px;
    border: 4px solid var(--outl-col);
    border-radius: 5px;
}

.highlight {
    border-color: var(--pos-col);
}




#lightThemeBox{
    background-color: #aaa;
}

#darkThemeBox{
    background-color: #2c2c2c;
}

#contrastThemeBox{
    background-color: #080808;
}



#redBox{
    background-color: #f07575;
}

#orangeBox{
    background-color: #e6804d;
}

#yellowBox{
    background-color: #d9b34d;
}

#greenBox{
    background-color: #66b366;
}

#cyanBox{
    background-color: #40bfbf;
}

#blueBox{
    background-color: #4d94e6;
}

#deepblueBox{
    background-color: #8075f0;
}

#purpleBox{
    background-color: #b375f0;
}

#pinkBox{
    background-color: #e467c5;
}

#flamingoBox{
    background-color: #e66699;
}




#credBox{
    background-color: #ee2b2b;
}

#corangeBox{
    background-color: #ec5b13;
}

#cyellowBox{
    background-color: #cf9117;
}

#cgreenBox{
    background-color: #68862d;
}

#ccyanBox{
    background-color: #2d8686;
}

#cblueBox{
    background-color: #1a6fe6;
}

#cdeepblueBox{
    background-color: #4030e8;
}

#cpurpleBox{
    background-color: #8c30e8;
}

#cpinkBox{
    background-color: #d926ac;
}

#cflamingoBox{
    background-color: #e23670;
}



#bronzeBox{
    background: linear-gradient(45deg, #895E1A, #B08D57, #9C7A3C, #895E1A, #804A00);
}

#silverBox{
    background: linear-gradient(45deg, #8E8D8D, #BEC0C2, #A1A2A3, #8E8D8D, #70706F);
}

#goldBox{
    background: linear-gradient(45deg, #b48811, #e0bf78, #bb9b49, #b48811, #a2790d);
}




#flowerBox {
    background: linear-gradient(to right, #FFD3A5, #FD6585);
}

#pricingBox {
    background: linear-gradient(to right, #144a5f, #34e89e);
}

#playfulBox {
    background: linear-gradient(to right, #12c2e9, #f64f59);
}

#beachyBox {
    background: linear-gradient(to right, #fccf31, #f55555);
}

#breathBox {
    background: linear-gradient(to right, #7f7fd5, #91eae4);
}

#earthlyBox {
    background: linear-gradient(to right, #3e5151, #decba4);
}

#partlyBox {
    background: linear-gradient(to right, #333399, #ff00cc);
}

#peacefulBox {
    background: linear-gradient(to right, #31b7c2, #7bc393);
}





.container {
    grid-column: 2/3;
    display: grid;
    gap: 20px;
    justify-items: center;
}

@media screen and (max-width: 900px) {
    .container{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 900px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.task-box {
    background-color: var(--box-col);
    border: 1px solid var(--outl-col);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: calc(100% - 40px);
}

.task-box h2 {
    font-size: 18px;
    margin: 0;
}

.task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task-header select {
    font-size: 14px;
    padding: 4px;
    background-color: var(--item-col);
    border: none;
    border-radius: 4px;
}

.task-box ul {
    list-style-type: none;
    padding: 0;
    margin: 10;
}

.task-box li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--item-col);
    border-radius: 6px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#one-time-tasks li.checked.fade-out {
    transition: opacity 2s ease;
}

.task-box li.fade-in {
    opacity: 1;
}

.task-box li.fade-out {
    opacity: 0;
}

.task-text {
    margin-right: 0px;
    word-wrap: break-word;
    white-space: normal;
    flex-grow: 1;
    transition: color 0.5s ease, text-decoration-color 0.5s ease, text-decoration 0.5s ease;
    max-width: calc(100% - 55px);
}

.checked .task-text {
    color: #8bde64;
    text-decoration: line-through;
    text-decoration-color: #8bde64;
}



.task-box li input[type="checkbox"] {
    margin-left: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    background-color: white; /* White background when unchecked */
    border: 2px solid var(--main-col);
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease;
}

.task-box li input[type="checkbox"]:hover {
    border-color: var(--main-col-hover);
}

.task-box li input[type="checkbox"]:checked {
    background: var(--main-col); /* Main color when checked */
}

.task-box li input[type="checkbox"]:checked:hover {
    background: var(--main-col-hover);
}

.task-box li input[type="checkbox"]:checked::before {
    content: '✔'; /* Unicode checkmark */
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.remove-btn {
    background-color: #e74c3c;
    border: none;
    font-size: 16px;
    padding-top: 2px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #e74c3c;;
    margin-left: 5px;
}

.add {
    background: var(--main-col);
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

button{
    color: white;
}

button:hover {
    background: var(--main-col-hover);
}

.task-box li {
    transition: opacity 0.3s ease;
}